# Logs
logs
*.log
npm-debug.log*
package-lock.json
.yarn/*
yarn-debug.log*
yarn-error.log*
!.yarn/releases
!.yarn/plugins
pnpm-debug.log*
lerna-debug.log*

# compiled output
/storybook-static
.eslintcache

# Tests
/coverage

# Logs
node_modules
dist
dist-ssr
*.local

# OS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static
